In [1]:
# import the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
# this library is used for one hot encoding
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Load the iris dataset from Seaborn
iris = sns.load_dataset("iris")

In [3]:
# Display the first few rows of the dataset
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# Select the categorical columns (species is included as an example)
categorical_columns = iris.select_dtypes(include=['object'])

In [5]:
# Initialize the OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse=False)

In [6]:
# Fit and transform the categorical columns using one-hot encoding
one_hot_encoded = one_hot_encoder.fit_transform(categorical_columns)

/home/shan/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
# Convert the one-hot encoded result to a DataFrame for better visualization
one_hot_df = pd.DataFrame(one_hot_encoded, columns=one_hot_encoder.get_feature_names_out())

In [8]:
# Display the one-hot encoded DataFrame
one_hot_df.head()

   species_setosa  species_versicolor  species_virginica
0             1.0                 0.0                0.0
1             1.0                 0.0                0.0
2             1.0                 0.0                0.0
3             1.0                 0.0                0.0
4             1.0                 0.0                0.0

In [9]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.datasets import load_iris
import pandas as pd

In [10]:
# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target_names[iris.target]

In [11]:
# Display a snippet of the original dataset
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [12]:
# Define the order for ordinal encoding
species_order = ['setosa', 'versicolor', 'virginica']

In [13]:
# Define the column name for Encoding
encode_column = iris_df['species']

In [14]:
# Create an instance of the OrdinalEncoder with the specified order
encoder = OrdinalEncoder(categories=[species_order])

In [ ]:
# Fit and transform the 'species' column
iris_df['species_encoded'] = encoder.fit_transform(encode_column)

In [ ]:
# Display the dataset with the encoded 'species' column
iris_df[['species', 'species_encoded']].head()

In [17]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [18]:
# Load the tips dataset from seaborn
tips = sns.load_dataset("tips")

In [19]:
# Display a few rows of the original dataset
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
# Apply label encoding to the 'smoker' column
label_encoder = LabelEncoder()
tips['smoker_encoded'] = label_encoder.fit_transform(tips['smoker'])

In [21]:
# Display a few rows of the dataset after label encoding
tips[['smoker', 'smoker_encoded']].head()

  smoker  smoker_encoded
0     No               0
1     No               0
2     No               0
3     No               0
4     No               0